       <div class="row">
          <div class="span2">
            <%= "Rails #{Rails.version}<br />".html_safe -%>
            <%= "Ruby #{RUBY_VERSION}<br />".html_safe -%>
          </div>
          <div class="span2">
            <% g = bundled_gems.find{|s| s.name =~ /devise/} -%>
            <%= "#{g.name} #{g.version}<br />".html_safe %>
            <% g = bundled_gems.find{|s| s.name =~ /facebox/} -%>
            <%= "#{g.name} #{g.version}<br />".html_safe %>
          </div>
          <div class="span3"> 
            <% g = bundled_gems.find{|s| s.name =~ /bootstrap/} -%>
            <%= "#{g.name} #{g.version}<br />".html_safe %>
            <button type="button" class="btn btn-small" data-toggle="collapse" data-target="#list_gems">Show / Hide All Gems</button>
          </div>
        </div>
        <div id="list_gems" class="row collapse">
          <br />
          <%= all_gems.html_safe -%>
        </div>
