<div id="fb_devise_login">
  <div class="modal-header">  
    <h3><%= t(:welcome, scope: :'myinfo.messages') -%></h3> 
  </div>  
  <div class="modal-body">
  
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :id => "login",:class => "form-horizontal", :data => { remote: true, spinner: "#login_spinner"}}) do |f| %>
    <div id="login_errors">
    </div>
    <%= f.input :username, :input_html => { :autocomplete => :off} %>
    <%= f.input :password %>
    <%= link_to t(:forgot_password, scope: :'myinfo.buttons'), fb_reset_password_path, :remote => true, :class => 'form_align_with_input' %>
    <div class="control-group">
      <div class="controls">
        <input type="checkbox" checked> <%= t(:remember_me, scope: :'myinfo.buttons') -%><br /><br />
        <%= f.submit t(:login, scope: :'myinfo.menu'), :class => "btn"%>&nbsp;<%= spinner_tag 'login_spinner' %>
      </div>
    </div>
  <% end %>

  </div>
  <div class="modal-footer">
    <%= t(:not_yet_registered, scope: :'myinfo.messages') -%> <%=link_to t(:sign_up, scope: :'myinfo.menu'), fb_create_user_path, :remote => true %>   
  </div>
</div>
